footer {
    display: flex;
    gap: 24px; /* espaço entre os elementos de 24px */
    padding-block: 24px; /* padding-top e padding-bottom de 24px */

    font: 14px/150% var(--font-family); /* 150% = 1.5 */
}

footer span:nth-child(1) {
    margin-right: auto; /* empurra o elemento para a esquerda */
}

